services:
  portfolio:
    build: .
    container_name: my-portfolio
    restart: always
    ports:
      - "8081:80"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.example-app.rule=Host(`elmountahi.dev`)"
      - "traefik.http.services.example-app.loadbalancer.server.port=3000"
      - "traefik.http.routers.example-app.tls=true"
      - "traefik.http.routers.example-app.tls.certresolver=myresolver"

    environment:
      - NODE_ENV=production
    networks:
      - web

networks:
  web:
    external: true
