@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Fira+Code:wght@400;500&display=swap");
@import "tailwindcss";

@theme {
	--color-background: #050505;
	--color-card: #111111;
	--color-card-hover: #1a1a1a;
	--color-accent: #3b82f6;
	--color-secondary: #9ca3af;

	--font-sans: "Inter", sans-serif;
	--font-mono: "Fira Code", monospace;
}
